
/***************/
/* MEYER RESET */
/***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


// tables

table {
	border-collapse: collapse;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  border: 1px solid black;
	border-bottom: 2px solid black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;font-weight: bold;
	background-color: #4CAF50;
	color: white;
}

td {
  border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

// end of tables

/************Timeline**************/
/* Timeline Container */
.timeline {
	border-left: 5px solid #dddddd;
	padding-bottom: 3em;
	position: relative; }
	.timeline:before {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  left: -1.47em;
	  width: 40px;
	  height: 40px;
	  border-radius: 40px;
	  background: #dddddd;
	  border: 5px solid #dddddd; }
  
  /* Individual Timeline Item */
  .tl-node {
	padding-left: 1em;
	margin-bottom: 3em;
	position: relative; }
	.tl-node a {
	  display: block; }
	.tl-node:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: -0.95em;
	  width: 20px;
	  height: 20px;
	  border-radius: 20px;
	  background: #fff;
	  border: 5px solid #dddddd; }
  
  /* Timestamp */
  .tl-stamp {
	font-size: 0.7em;
	color: gray; }
  
  /************End Timeline**************/

// Apply a natural box layout model to all elements
// from: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
